# MCI customer churn prediction

In [23]:
import pandas as pd
import numpy as np

# import matplotlib.pyplot as plt

## Data prepration

In [5]:
ls

Customer_Churn.csv  mci_churn.ipynb

In [6]:
data = 'Customer_Churn.csv'

In [7]:
df = pd.read_csv(data)

## EDA & Setting up validation framework

In [8]:
df.head().T

                               0        1        2        3         4
Call  Failure               8.00    0.000    10.00    10.00     3.000
Complains                   0.00    0.000     0.00     0.00     0.000
Subscription  Length       38.00   39.000    37.00    38.00    38.000
Charge  Amount              0.00    0.000     0.00     0.00     0.000
Seconds of Use           4370.00  318.000  2453.00  4198.00  2393.000
Frequency of use           71.00    5.000    60.00    66.00    58.000
Frequency of SMS            5.00    7.000   359.00     1.00     2.000
Distinct Called Numbers    17.00    4.000    24.00    35.00    33.000
Age Group                   3.00    2.000     3.00     1.00     1.000
Tariff Plan                 1.00    1.000     1.00     1.00     1.000
Status                      1.00    2.000     1.00     1.00     1.000
Age                        30.00   25.000    30.00    15.00    15.000
Customer Value            197.64   46.035  1536.52   240.02   145.805
Churn                       0.00    0.000     0.00     0.00     0.000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Call  Failure            3150 non-null   int64
 1   Complains                3150 non-null   int64
 2   Subscription  Length     3150 non-null   int64
 3   Charge  Amount           3150 non-null   int64
 4   Seconds of Use           3150 non-null   int64
 5   Frequency of use         3150 non-null   int64
 6   Frequency of SMS         3150 non-null   int64
 7   Distinct Called Numbers  3150 non-null   int64
 8   Age Group                3150 non-null   int64
 9   Tariff Plan              3150 non-null   int64
 10  Status                   3150 non-null   int64
 11  Age                      3150 non-null   int64
 12  Customer Value           3150 non-null   float64
 13  Churn                    3150 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 344.7 KB

In [24]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [18]:
df.churn.unique()

array([0, 1])

In [25]:
df.isnull().sum()

call__failure              0
complains                  0
subscription__length       0
charge__amount             0
seconds_of_use             0
frequency_of_use           0
frequency_of_sms           0
distinct_called_numbers    0
age_group                  0
tariff_plan                0
status                     0
age                        0
customer_value             0
churn                      0
dtype: int64

In [31]:
any(df.dtypes == 'object')

False

In [39]:
sum(df.churn == 1)

495

In [40]:
from sklearn.model_selection import train_test_split

In [42]:
df_full_train , df_test = train_test_split(df , test_size=.2 , random_state=42)

In [53]:
df_train , df_val = train_test_split(df_full_train , test_size=.25 , random_state=42)

In [54]:
len(df_train), len(df_test) , len(df_val)

(1890, 630, 630)